#upleft { 
  width:500px; 
  height: 200px; 
  background:rgb(236, 234, 234); 
  float:left; 
  padding: 10px;
}

#upright { 
  width:500px; 
  height:200px; 
  background:rgb(220, 220, 224); 
  float:left;
  padding: 10px;
}

#uprightextreme { 
  width:460px; 
  height:25px; 
  background:rgb(154, 154, 170); 
  float:left;
  padding: 10px;
  margin: 5px;
}